@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;;
    background-image: url('assets/bgdark.jpg');
    background-size: cover;
}

.title{
    font-weight: bold;
    margin: 1em;
}


span, s{

    font-size:25px ;
}

