* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FBF8EF;
}

/* #how-many-task-today {
    display: flex;
} */

span {
    margin-left: 8px;
    margin-top: 12px;
    font-size: 15px;
}

.todo li {
    width: 100%;
}

.todo li button {
    width: 20px;
    border: none;
    background-color: #57D09C;
    border-radius: 50%;
}

.todo li button img {
    width: 10px;
}

.todo li .done {
    float: left;
    margin-right: 10px;
}

.todo li .remove {
    float: right;
    margin-left: 10px;
}

.footer {
    width: 100%;
    background-color: #57D09C;
}

