* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FBF8EF;
}

/* #how-many-task-today {
    display: flex;
} */

span {
    margin-left: 8px;
    margin-top: 12px;
    font-size: 15px;
}


#task-list li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: white;
    font-size: 18px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Add a "checked" mark when clicked on */
#task-list li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  /* Style the close button (add in javascript)*/
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }

  .close:hover {
    background-color: #f44336;
    color: white;
  }

  .categories {
    background-color: #f44336;
  }

  .card-columns {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex: 1;
      max-width: 18rem;
  }
  /* Float four columns side by side */
/* .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  } */
  /* Remove extra left and right margins, due to padding */
/* .row {margin: 0 -5px;} */
/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
  } */
  /* Responsive columns */
/* @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  } */
  /* Responsive columns */
/* @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  } */